// Some of the styles used by plugins are inconsistent, this css is loaded last and resolves common known issues
@import (reference) "theme.less";

// Add glyphicon styles to any custom menu buttons
.pwg-icon {
  .glyphicon;
}
.pwg-button-text {
  .glyphicon-text;
}

// Hide language switch as it doesn't work properly
#languageSwitch {
  display: none;
}

// Attempt to fix language switch issues
/*
#languageSwitchLink {
  span {
    margin: 0;
  }
}
#languageSwitchBox {
  position: fixed;
  width: 500px;
  background-color: #fff;
  a {
    color: @link-color;
  }
  a:hover {
    color: @link-hover-color;
  }
}
*/