@import "../bootstrap/less/variables.less";

#quickconnect {
  .form-control {
    margin-bottom: 10px;
  }
}

// Hide drop down menu forms
.navbar-form-desktop {
  display: none;
}

// Remove the bottom margin from the first navbar
.navbar:first-of-type {
  margin-bottom: 0px;
}

// Make Jumbotron h1 a bit smaller and remove the bottom margin
.jumbotron {
  margin-bottom: 0px;
  @media screen and (min-width: @screen-sm-min) {
    h1,
    .h1 {
      font-size: (@font-size-base * 3.5);
    }
  }
}

// Hide text next to an icon
.glyphicon-text, .pwg-button-text {
  display: none;
}

// Grid and list view styles
#content {
  .col-outer {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .col-inner {
    .col-thumbnail {
      .placeholder {
        width: 260px;
        height: 180px;
      }
    }
  }
}
.content-grid {
  .col-outer {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .col-inner {
    .col-thumbnail {
      float: none;
      margin-right: 0px;
    }
    .caption {
      .description {
        display: none;
      }
    }
  }
}
.content-list {
  .col-outer {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .col-inner {
    .col-thumbnail {
      float: left;
      margin-right: 20px;
    }
    .caption {
      .description {
        display: block;
      }
    }
  }
}

// Pad out the copyright
.copyright {
  padding: 30px;
}

@media (min-width: @screen-md-min) {
  // Display forms on drop down menus when on desktop
  .navbar-form-desktop {
    display: block;
  }

  // Make dropdown menu scrollable with scrollbar
  .dropdown-menu-scrollable {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
  }
  .dropdown-menu-scrollable::-webkit-scrollbar {
    width: 1em;
  }
  .dropdown-menu-scrollable::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  .dropdown-menu-scrollable::-webkit-scrollbar-thumb {
    background-color: @gray-light;
    outline: 1px solid @gray-light;
  }
}