#quickconnect .form-control {
  margin-bottom: 10px;
}
.navbar-form-desktop {
  display: none;
}
@media (min-width: 992px) {
  .navbar-form-desktop {
    display: block;
  }
  .dropdown-menu-scrollable {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
  }
}
