body {
  overflow-x: hidden;
}
#quickconnect .form-control {
  margin-bottom: 10px;
}
.navbar-form-desktop {
  display: none;
}
.navbar:first-of-type {
  margin-bottom: 0px;
}
.jumbotron {
  margin-bottom: 0px;
}
@media screen and (min-width: 768px) {
  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 49px;
  }
}
.glyphicon-text,
.pwg-button-text {
  display: none;
}
#content .col-outer {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#content .col-inner .col-thumbnail .placeholder {
  width: 260px;
  height: 180px;
}
.content-grid .col-outer {
  margin-top: 10px;
  margin-bottom: 10px;
}
.content-grid .col-inner .col-thumbnail {
  float: none;
  margin-right: 0px;
}
.content-grid .col-inner .caption .description {
  display: none;
}
.content-list .col-outer {
  margin-top: 20px;
  margin-bottom: 20px;
}
.content-list .col-inner .col-thumbnail {
  float: left;
  margin-right: 20px;
}
.content-list .col-inner .caption .description {
  display: block;
}
.copyright {
  padding: 30px;
}
.ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#theImage {
  position: relative;
  overflow-x: hidden;
  text-align: center;
}
#theImage img {
  max-width: 100%;
  height: auto;
}
#sidebar {
  position: absolute;
  right: -250px;
  text-align: left;
}
#sidebar .handle {
  margin-top: 30px;
  float: right;
  background-color: #ccc;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: -5px 0 10px 0px #dddddd;
}
#sidebar .handle a {
  display: block;
  padding: 10px;
  color: #fff;
}
#sidebar .handle a:hover {
  color: #eee;
}
#sidebar .handle .glyphicon {
  font-size: 1.2em;
}
#sidebar .info {
  float: right;
  background-color: #eeeeee;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 250px;
  padding: 20px;
  box-shadow: -5px 0 10px 0px #dddddd;
}
#sidebar .info dl {
  margin-bottom: 0;
}
#sidebar .info button {
  max-width: 210px;
}
#share {
  margin-top: 20px;
  font-size: 2.5em;
  text-align: center;
}
#share a {
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
}
#commentList .comment {
  clear: both;
}
#commentList .comment .image img {
  float: left;
  width: 80px;
  height: 80px;
}
#commentList .comment .description {
  margin-left: 100px;
}
#commentList .comment .description form {
  margin-top: 15px;
  margin-bottom: 15px;
}
.nav-pills {
  margin-top: 25px;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .navbar-collapse {
    padding-right: 0;
  }
}
@media (min-width: 992px) {
  .navbar-form-desktop {
    display: block;
  }
  .dropdown-menu-scrollable {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
  }
  .dropdown-menu-scrollable::-webkit-scrollbar {
    width: 1em;
  }
  .dropdown-menu-scrollable::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  .dropdown-menu-scrollable::-webkit-scrollbar-thumb {
    background-color: #777777;
    outline: 1px solid #777777;
  }
}
